node_modules/
.DS_Store
npm-debug.log
compiled/
coverage/
.idea
package-lock.json
yarn.lock
/.vscode
release/
*.metadata.json
*.ngfactory.ts
*.tgz
mp-angular2-schema-form.iml

# test subproject and demo
/demo
/tests/dist
/tests/src/app/lib
/tests/tmp
/tests/node_modules
/tests/.idea
/tests/.vscode
/tests/.sass-cache
/tests/connect.lock
/tests/coverage/*
/tests/libpeerconnection.log
/tests/typings
/tests/e2e/*.js
/tests/e2e/*.map
