language: node_js
node_js:
    - "4"
    - "6"
    - "node"
env:
    - CXX=g++-4.8
install:
    - ./install-peers.sh
    - npm install

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++-4.8
git:
    depth: 4

sudo: false
