<div class="widget form-group">
	<span *ngIf="settings.required" class="required horizontal" title="Required"></span>
	<div class="checkbox">
		<label class="horizontal control-label">
			<input [formControl]="control" [attr.name]="name" [indeterminate]="control.value !== false && control.value !== true ? true :null" type="checkbox" [attr.disabled]="settings.readOnly">
			<input *ngIf="settings.readOnly" [attr.name]="name" type="hidden" [formControl]="control">
			{{settings.description}}
		</label>
	</div>
</div>

