<form ngNoForm>
	<fieldset *ngFor="let fieldset of fieldsets" id="fieldset.id">
		<legend *ngIf="fieldset.title">{{fieldset.title}}</legend>
		<div *ngFor="let field of fieldset.fields"
			[class.has-error]="!fields[field].control.valid"
			[class.has-success]="fields[field].control.valid"
			class="form-group">

			<field *ngIf="fields[field].visible" [typename]="fields[field].type"
			[id]="fields[field].id"
			[control]="fields[field].control"
			[settings]="fields[field].settings"></field>
		</div>
	</fieldset>
	<input type="submit" *ngFor="let action of actions" [attr.formaction]="action.href" [attr.formtarget]="'#'+action.rel" [attr.name]="action.title" [attr.formmethod]="action.method" [attr.title]="action.description" [attr.value]="action.title">
</form>
