<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <label for="samples">Select schema form example: </label>&nbsp;
      <select id="samples" (change)="changeSchema($event.target.value)">
        <option *ngFor="let sample of samples" (select)="sample.event()" [selected]="sample.selected">{{sample.label}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Form:</h3>
      <sf-form (onErrorChange)="logErrors($event.value)"
               (onChange)="setValue($event.value)"
               [schema]="schema"
               [(model)]="model"
               [validators]="fieldValidators"
               [actions]="actions"
               [bindings]="fieldBindings">
      </sf-form>
    </div>
    <div class="col-md-4">
      <h3>Schema:</h3>
      <pre>{{schema | json}}</pre>
    </div>
    <div class="col-md-4">
      <h3>Model:</h3>
      <pre>{{value | json}}</pre>
    </div>
  </div>
</div>
