input, textarea {
	border:1px solid black;
	border-radius:3px;
}

.ng-touched.ng-invalid {
	background-color:#ffeeee;
}

.ng-touched.ng-valid {
	background-color:#eeffee;
}
richtextfield > tinymce.ng-invalid {
	border-top: 2px solid red;
}
