<form ngNoForm>
	<fieldset *ngFor="let fieldset of fieldsets" id="fieldset.id">
		<legend *ngIf="fieldset.title">{{fieldset.title}}</legend>
		<div *ngFor="let field of fieldset.fields"
			[class.has-error]="!fields[field].control.valid"
			[class.has-success]="fields[field].control.valid"
			class="form-group">

			<field-chooser *ngIf="fields[field].visible"
				[id]="fields[field].id"
				[settings]="fields[field].settings"
				[control]="fields[field].control"></field-chooser>
		</div>
	</fieldset>
	<button *ngFor="let button of buttons" type="button" (click)="button.action($event)">{{button.label}}</button>
</form>
