<form ngNoForm>
	<!--
	<fieldset *ngFor="let fieldset of fieldsets" id="fieldset.id">
		<legend *ngIf="fieldset.title">{{fieldset.title}}</legend>
		<div *ngFor="let fieldId of fieldset.fields"
			[class.has-error]="!fields[fieldId].control.valid"
			[class.has-success]="fields[fieldId].control.valid"
			class="form-group">

			<field *ngIf="fields[fieldId].visible" [fieldModel]="fields[fieldId]" [widget]="widgets[fieldId]">
			</field>
		</div>
	</fieldset>-->
	<button *ngFor="let button of buttons"
		(click)="button.action($event)"
		type="button">
		{{button.label}}
	</button>
	<div style="background: #cdeaeb">
		<div *ngFor="let fieldId of formModel.fieldIds"
			[class.has-error]="!valid(fieldId)"
			[class.has-success]="valid(fieldId)"
			>
			<field *ngIf="formModel.getField(fieldId).visible"
			[fieldModel]="formModel.getField(fieldId)"
			[widget]="formModel.getField(fieldId).widgetInfo">
			</field>
		</div>
	</div>
</form>
