<div class="field form-group">
	<label>{{settings.description}}</label>
	<span *ngIf="settings.required" class="required horizontal" title="Required"></span>
	<div *ngFor="let option of settings.oneOf" class="radio">
		<label class="horizontal control-label">
			<input [(ngModel)]="settings.value" [formControl]="control" [attr.name]="name" value="{{option.enum[0]}}" type="radio"  [attr.disabled]="settings.readOnly">
			{{option.description}}
		</label>
	</div>
	<input *ngIf="settings.readOnly" [attr.name]="name" type="hidden" [ngModel]="settings.value">
</div>
