<div class="field form-group">
	<label>{{settings.description}}</label>
	<span *ngIf="settings.required" class="required horizontal" title="Required"></span>
	<label *ngFor="let option of settings.oneOf" class="horizontal">
		<input [(ngModel)]="settings.value" [formControl]="control" [attr.name]="name" value="{{option.enum[0]}}" type="radio"  [attr.disabled]="settings.readOnly">
		{{option.description}}
	</label>
	<input *ngIf="settings.readOnly" [attr.name]="name" type="hidden" [ngModel]="settings.value">
</div>
